<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
  aria-controls="offcanvasTop">Create Journal Entry</button>


<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Create your note!</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body container-fluid">
    <form class="row" onsubmit="app.notes">
      <div class="col-6 d-flex justify-content-around">
        <span>Pick a Color! </span> <span>Date</span>
      </div>
      <div class=" input-group">
        <select name="color" id="pick-your-color" class="form-control">
          <option value="#ff0000">Red</option>
          <option value="#008000">Green</option>
          <option value="#ffa500">Orange</option>
          <option value="#0000ff">Blue</option>
          <option value="#800080">Purple</option>
        </select>
        <input type="date" name="noteDate" id="note-reported-date" class="form-control">
      </div>
      <button class="btn btn-success">Submit Changes</button>
    </form>
  </div>
</div>

<section class="container-fluid">
  <div class="col-6" id="note-list">
    <!-- where stored notes are loaded and displayed -->
  </div>
  <div id="this-note">
    <!-- where user selected notes preview is displayed -->
  </div>
</section>

<!-- delete me -->